*{
    background-color: #bac2c9;
}
.head{
    background-color: #4B4E6D;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo{
    height:100px;
    padding-left: 1%;
    padding-top: 1%;
    float: left;
    
} 
 a{
    background-color: transparent;
    color: aliceblue;
   margin-right: 7%;
   text-decoration: none;
 }
 a:hover{
    color: #bac2c9;
 }
.image{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.im{
    border-radius: 10%;
    box-shadow:10px 10px 20px rgb(0, 27, 46);
    border: 3px solid rgb(0, 0, 0);
}


.box:hover {
    border: 1px solid #656363;
}

.box {
        width: 700px;
        background-color: #4B4E6D;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        align-items: center;
        margin-top: 5%;
        box-shadow: 10px 10px 25px rgba(0, 42, 75, 0.3);
        border-radius: 30px;
       text-align: center;
    transform: translate(50%, 50%);
    }

    .search {
        border: none;
        width: 600px;
        background-color:#4B4E6D ;
        height: 50px;
        position: relative;
        outline: none;
    }
        ::placeholder {
            color: #ffffff;
            
        }

    /* .icon {
        position: absolute;
        font-size: xx-large;
        margin-top: 10px;
        margin-left: 7px;
        background-color:#4B4E6D ;
         */
    /* }    */
    input{
        color: aliceblue;
    }
    
    .box:hover {
        border: 1px solid #656363;
    }
    .heading{
       text-align: center;
       color: rgb(0, 0, 0);
      
    }
.footer{
    background-color:#4B4E6D;
    height: 150px;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
   width: 100%;
}

.content{
        background-color: transparent;
        margin-left: 2%;
}

.con{
    background-color: transparent;
    margin-top: 2%;
    margin-left: 43%;
}